

*{ box-sizing: border-box;
    margin: 0;
    padding: 0;}

.navegacion{
    background-color: rgb(229, 162, 210);
    position: sticky;
    display: flex;
    width: 80%;
    margin: auto;}


ul{  list-style: none; }

.misproductos{
    width: 80%;
    margin: auto;
    background-color: aqua;
    font-size: 23px;
    font-weight: lighter
}
.logo{
    width: 100px;
}  
.derecha{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(229, 162, 210);
    position: relative;
    left: 400px;

}
h1{font-size: 60px;}

ul li a{
    text-decoration: none;
    font-family: open sans;
    font-size: 20px;
    color: black;
    padding: 3px 1;
    display: flex;
    justify-content: start;}

ul li a:hover{
background-color: rgb(0,0,0,0.3 );
}
ul li a.activo{
    background-color: rgb(0,0,0,0.3 );
    }

.tarjeta{
    width: 75%;
    height: 300px;
    border: 2px solid brown;
    gap: 5px;
    margin: 10px;
    background-color:rgb(229, 162, 210);
    padding: 10px;
    font-family: "Dancing Script", cursive;
    border-radius: 5px;
    
    
}
 
.h2{width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
    background-color: aqua;
    height: 25px;
    font-size: 35px;
}
.boton-comprar{
    padding: 3px;
    background-color: gray;
    border-radius: 5px;
    color: white;
}
.tarjeta>p{
    width: 50%;
    padding: 5px;
}    
.contenedor{
    margin: auto;
    background-color: aqua;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 10px;

    
}
.titulotarjeta{
    display: flex;
    justify-content: center;
}
.scale:hover{
    transform: scale(1.5);
    display: flex;
    justify-content: center;}
    
.logo+h1{
    display: flex;
    text-justify: center;
}


.piedepagina{
    background-color: rgb(229, 162, 210);
text-align: center;
padding: 20px;
}

.holder{
    width: 960px;
    margin: 0 auto;
}